<h1 class="title-home-admin">
    Dashboard <span> Adminitrador </span>
</h1>

<div class="container-home-admin">
    <div class="card-item">
        <div class="item-image">
            <img class="image" src="../../../../assets/calendar.png" alt="">
        </div>
        <h1> 28/2/2019 </h1>
        <h2>Fecha actual</h2>
    </div>
    <div class="card-item">
        <div class="item-image-green">
            <img class="image" src="../../../../assets/team.png" alt="">
        </div>
        <h1>8</h1>
        <h2>Total usuarios</h2>
    </div>
    <div class="card-item">
        <div class="item-image">
            <img class="image" src="../../../../assets/customer.png" alt="">
        </div>
        <h1>12</h1>
        <h2>Total Clientes</h2>
    </div>
</div>